{% include "::api.html.twig" %}
<script>
    var requireJS = [];
    loadJS(requireJS, "{{path('RAL',{'request':'upload.js'}) }}");
    loadJS(requireJS, "{{path('RAL',{'request':'api.js'}) }}");
</script>



<div class="animated fadeIn">

    {% if files is defined and files|length > 0 %}
        <div class="card">
            <table class="table table-responsive table-hover table-align-middle table-inverse table-striped mb-0">
                <thead class="thead-inverse">
                    <tr>
                        <th class="text-center"><i class="fa fa-lg fa-files-o"></i>
                        </th>
                        <th>Nombre</th>
                        <th class="text-center">Tama침o</th>
                        <th class="d-none d-md-table-cell">Ultimo acceso</th>
                        <th class="d-none d-md-table-cell">Ultima modificaci칩n</th>
                        <th class="text-center"><i class="icon-grid"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in files %}
                        <tr>
                            <td class="text-center" ondblclick="alert('hola');">
                                <i class=" fa fa-lg {{item.icon}}"></i>
                            </td>
                            <td ondblclick="alert('hola');">
                                <div>{{item.name}}</div>
                                <div class="small text-muted">
                                    <span>Creado el: </span> {{dateHuman(item.creationDate,"d/m/Y H:i:s")}}
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="callout callout-success">
                                    <strong class="h6">{{bytesConvert(item.size)}}</strong>
                                </div>
                            </td>
                            <td class="d-none d-md-table-cell">
                                <div><a href="{{path('_profile',{'username':item.lastAccessBy.username})}}">{{item.lastAccessBy.username}}</a></div>
                                <div class="small text-muted">
                                    <span>Accedido el: </span> {{dateHuman(item.lastAccessDate,"d/m/Y H:i")}}hrs
                                </div>
                            </td>
                            <td class="d-none d-md-table-cell">
                                <div><a href="{{path('_profile',{'username':item.lastModifiedBy.username})}}">{{item.lastModifiedBy.username}}</a></div>
                                <div class="small text-muted">
                                    <span>Modificado el: </span> {{dateHuman(item.lastModifiedDate,"d/m/Y H:i")}}hrs
                                </div>
                            </td>
                            <td class="text-center">
                                <strong>
                                    <div class="d-xs-inline-table d-none">
                                        <div class="btn-group" role="group" file="{{item.encoded}}">
                                            {% if item.mark %}
                                                <button class="btn btn-dark" onclick="Mark(this);"><i class="fa fa-star fa-adapt"></i></button>
                                            {% else %}
                                                <button class="btn btn-dark" onclick="Mark(this);"><i class="fa fa-star-o fa-adapt"></i></button>
                                            {% endif %}
                                            {% if item.trash %}
                                                <button class="btn btn-dark" onclick="Recover(this);"><i class="icon-action-undo"></i></button>
                                            {% else %}
                                                <button class="btn btn-dark"onclick="Delete(this);"><i class="icon-trash"></i></button>
                                            {% endif  %}
                                        </div>
                                        <div class="btn-group" role="group" file="{{item.encoded}}">
                                            <button class="btn btn-dark" onclick="Share(this);"><i class="icon-share"></i></button>
                                            <button class="btn btn-dark"><i class="icon-calendar"></i></button>
                                        </div>
                                        <!--
                                        -->
                                    </div>
                                    <div class="dropdown d-xs-none">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#9776;</button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" file="{{item.encoded}}">
                                            <button class="dropdown-item" href="#">A침adir a favoritos</button>
                                            <button class="dropdown-item" href="#">Borrar</button>
                                            <button class="dropdown-item" href="#">Compartir</button>
                                            <button class="dropdown-item" href="#">Versiones</button>
                                        </div>
                                    </div>
                                </strong>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="jumbotron">
            <h1 class="display-3">Oops!</h1>
            <p class="lead">Aqui no hay archivos, pero puedes a침adirlos haciendo click en destacar.</p>
            <picture>
                <source media="(min-width: 1024px)" srcset="{{asset('assets/img/help/add_fav_lg.png')}}">
                <source media="(min-width: 768px)" srcset="{{asset('assets/img/help/add_fav_md.png')}}">
                <source media="(min-width: 350px)" srcset="{{asset('assets/img/help/add_fav_sm.png')}}">
                <img class="img-fluid" src="{{asset('assets/img/help/add_fav_xs.png')}}" alt="" style="">
            </picture>
            <hr class="my-4">
        </div>
    {% endif %}
    <!--/.card-->
</div>

